# Node Modules
node_modules/

# Transpiled files
dist/**/*.zip

# Lock files
package-lock.json
yarn.lock

# Local Netlify folder
.netlify

# https://catbox.moe/c/s15odd
images/

# Python cache
__pycache__/
